<configuration>

    <contextName>prod</contextName>

    <appender name="json-stdout" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
            <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
                <prettyPrint>true</prettyPrint>
            </jsonFormatter>
            <timestampFormat>yyyy-MM-dd' 'HH:mm:ss.SSS</timestampFormat>
        </layout>
    </appender>
    
    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>http://127.0.0.1:3100/loki/api/v1/push</url>
        </http>
        <format class="com.github.loki4j.logback.ProtobufEncoder">
            <label>
                <pattern>app=urlshortner,,host=${HOSTNAME},,thread=%thread,,level=%level,,class=%logger{0},,method=%M,,message=%msg</pattern>
                <pairSeparator>,,</pairSeparator>
            </label>
            <message>
                <pattern>timestamp=%d{HH:mm:ss.SSS} thread=%thread level=%level class=%logger{0} method=%M %rEx{short} %n</pattern>
            </message>
            <sortByTime>true</sortByTime>
        </format>
    </appender>

    <root level="info">
        <appender-ref ref="json-stdout" />
        <appender-ref ref="LOKI"/>
    </root>
     
</configuration>
